.box {
  width: 100%;
}

.small {
  width: 10%;
}

#para {
  background-color: white;
  color: black;
}

.para2 {
  color: green;
}

.active_state:active {
  color: yellow;
}

.rgba_color {
  background-color: rgb(0, 191, 255);
  color: rgb(255, 255, 255);
  padding: 20px;
  font-size: larger;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 100;
}
