* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(229, 219, 219);
  padding: 1rem 2rem;
}

.heading {
  margin-right: auto; /* pushes heading to the far right */
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-right: 1rem;
}

.child-contanier {
  margin-right: 1rem;
  border: 1px solid pink;
}

.main-image {
  width: 100%;
  height: 35vh;
  object-fit: fill;
  position: relative;
}
.main-text {
  position: absolute;
  top: 7rem;
  left: 30rem;
  color: white;
  font-size: 1rem;
}

.text-size-color {
  font-size: 2rem;
  color: black;
}

.search {
  width: 100%;
  height: 30px;
  border-radius: 8px;
}

.block-images-parent {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  gap: 20px;
}

.block-images-child {
  position: relative;
  flex: 1 1 25%; /* each takes 25% of the row */
  box-sizing: border-box;
}

.image-child {
  width: 90%;
  height: auto;
  display: block;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  color: white;
}
.image-hover {
  transition: transform 0.3s ease;
}

.image-hover:hover {
  transform: scale(1.1); /* zooms in slightly */
  border: 2px solid black;
}

.footer-contianer {
  background-color: #f9f9f9;
  border-top: 1px solid #ccc;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
